{% extends 'base.html' %}
{% load static i18n %}


{% block content %}
<body>


  <!-- Page Content -->
  <div class="container">


    <!-- Page Features -->
    <div class="row text-center">

    {% for object in object_list %}

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src={{ object.photo.url }} alt="">
          <div class="card-body">
            <h4 class="card-title">{{ object.title }}</h4>
            <p class="card-text">{{ object.description }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->



</body>
{% endblock %}
