{%  extends 'base.html' %}
{% block content %}
    {{ object }}
    <ul>
    {% for c_i_u in object %}
        <li>{{ c_i_u }}</li>
    {% endfor %}
    </ul>

    <a href="{% url 'app_index' %}">Retour</a>

{% endblock %}
