{% extends 'base.html' %}
{% load static i18n %}


{% block content %}
<body>


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

    {% for object in object_list %}

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src={{ object.photo.url }} alt="">
          <div class="card-body">
            <h4 class="card-title">{{ object.title }}</h4>
            <p class="card-text">{{ object.description }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->



</body>
{% endblock %}
